@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

// colors
$blue: #75d5ff;
$violet:#7158e2;
$white: #fff;


*{
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow-x: hidden;
  margin: 0;
}

.bg {
    background: url('https://images6.alphacoders.com/883/thumb-1920-883187.jpg') no-repeat center/cover;
    position: absolute;
    top: -30px;
    left: -30px;
    width: calc(100% + 100px);
    height: calc(100vh + 100px);
    z-index: -1;
    filter:blur(0px);
    -webkit-filter:blur(80px);

}

.loading-text {
    font-size: 50px;
    color: $white;
}

